<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <add name="PWMEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Personal\Projects\PWM\PersonalWorkManager\PersonalWorkManagerWeb\App_Data\PWM.s3db&quot;" providerName="System.Data.EntityClient" />
        <!--<add name="PWMEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\Google Drive\Projects\PWM\PersonalWorkManager\PersonalWorkManagerWeb\App_Data\PWM.s3db&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms loginUrl="~/Login.aspx" name=".ASPXFORMSDEMO" timeout="60" />
        </authentication>
        <authorization>
            <allow users="*"/>
        </authorization>
    </system.web>
    <location path="Pages">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
</configuration>